<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <title>game</title>
  <link rel="stylesheet" href="dist/css/reset.css">
  <link rel="stylesheet" href="dist/css/main.css">
</head>
<body>
  <div id="app" class="wrapper">
    <div class="container">
      <h1 class="heading">Guess</h1>
      <div class="level-wrap">
        <div class="flex-default">
          <div class="flex-item">
            <label for="lvEasy" class="checkbox">
              <input type="radio" id="lvEasy" value="easy" v-model="levelModel">
              3 numbers
            </label>
          </div>
          <div class="flex-item">
            <label for="lvNormal" class="checkbox">
              <input type="radio" id="lvNormal" value="normal" v-model="levelModel">
              4 numbers
            </label>
          </div>
          <div class="flex-item">
            <label for="lvHard" class="checkbox">
              <input type="radio" id="lvHard" value="hard" v-model="levelModel">
              5 numbers
            </label>
          </div>
        </div>
      </div>
      <div class="start-wrap" v-if="!isStart">
        <button type="button" class="btn btn-ghost" @click="start">Start</button>
      </div>
      <transition name="fade">
        <div class="answer-wrap" v-if="isStart">
          <div class="flex-default">
            <div class="flex-item">
              <input class="input input-default" type="text" v-model="myAnswer">
              <button type="button" class="btn btn-default" @click="inputValidate">Enter</button>
            </div>
            <div class="flex-item">
              <button type="button" class="btn btn-default" @click="refresh">Refresh</button>
              <button type="button" class="btn btn-default" @click="clearHistory">Clear History</button>
            </div>
          </div>
        </div>
      </transition>
      <div class="result-wrap">
        <ul class="result-list list list-default">
          <li class="list-item" v-for="(list, index) in history">
            {{ index + 1 }}. {{ list.answer }} -- {{ list.resultA }}A{{ list.resultB }}B
          </li>
        </ul>
      </div>
  </div>
  </div>

  <script src="dist/js/vue.js"></script>
  <script src="dist/js/main.js"></script>
</body>
</html>